{% extends 'base.html' %}

{% block content %}

<div class="text-center">
    <h1 class="mb-4">Caption Crafter</h1>
    <h3 class="mb-4">Name: Erik Nguyen</h3>
    <h3 class="mb-4">Instructor: Professor Lidia Morrison</h3>
</div>

<br>

<form method='POST' enctype='multipart/form-data'>
    <div class="form-group">
        {{form.hidden_tag()}}
        {{form.select_file(class="form-control")}}
    </div>

    <div class="form-group">
        {{form.text_field.label}}
        {{form.text_field(class_="form-control", size=32, rows=5)}}
        <small class="form-text text-muted">*Optional</small>
    </div>

    <div class="form-group text-center">
        {{form.submit(class="btn btn-primary mb-2 btn-lg")}}
    </div>
</form>

{% endblock %}